.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;

  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;

  
}
.list {
  width: 40%;
  color: aliceblue;
  border: 3px solid rgb(14, 133, 244);
  border-radius: 12px;
  background: rgb(82,80,77);
  background: linear-gradient(191deg, rgba(82,80,77,1) 0%, rgba(14,181,244,1) 52%, rgba(82,80,77,1) 100%);
}





.clock {
  display: grid;
  place-items: center;
  grid-template-areas: 'hour clock-dublepoint minute'
                        'clock-hour-button . clock-minute-button';
  
  width: 60%;
  height: 400px;
  font-size: 120px;
  border-radius: 15px;
  color: #ffffff;

  
  background-color: grey;                
}
.hour {
  grid-area: hour;

}
.clock-dublepoint {
  grid-area: clock-dublepoint;
}
.minute {
  grid-area:minute;
}
.clock-hour-button {
  display: flex;
  align-items: center;
  gap: 5px;
  grid-area: clock-hour-button;
}
.clock-minute-button {
  display: flex;
  align-items: center;
  gap: 5px;
  grid-area: clock-minute-button;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 60px;

  font-size: 40px;
  border: none;
  border-radius: 5px;
  border: 3px solid darkgray;
  background-color: darkgray;
  transition: border 0.3s ease, background 0.2s ease;
}
.btn:hover {
  border: 3px solid #2e2e2e
}
.btn:active {
  background-color: #2e2e2e;
}